*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
   
}
/* STABILISCE LA GRANDEZZA DELLA WEB-APP  */
.container{
    margin: auto;
    background-color: aqua;
    height: 90vh;
    width: 90vw;
    display: flex;
}
/* DOVE SI VEDONO LE CHATS IN ORDINE  */
.chats{
    background-color: blueviolet;
    width:30% ;
    height: 100%;
    display: none;
}
/* DOVE SI VEDONO I MESSAGGI  */
.message{
    background-color: brown;
    width: 100%;
    height: 100%;
}
.profile-section{
    height: 10%;
    width: 100%;
    background-color: blanchedalmond;
}
.message-section{
    height: 80%;
    width: 100%;
    background-color: aquamarine;
}
.write-section{
    height: 10%;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
}
.write-section input{
    width: 95%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
}