*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
   
}
/* CLASSI DI LAYOUT */
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.wh-50{
    width: 50%;
}
.wh-70{
    width: 70%;
}
.wh-30{
    width: 30%;
}
.wh-50{
    width: 50%;
}





/* STABILISCE LA GRANDEZZA DELLA WEB-APP  */
.container{
    margin: auto;
    background-color: aqua;
    height: 90vh;
    width: 90vw;
    display: flex;
}
/* DOVE SI VEDONO LE CHATS IN ORDINE  */
.chats{
    background-color: blueviolet;
    width:30% ;
    height: 100%;
    display: none;
}
/* DOVE SI VEDONO I MESSAGGI  */
.chat-area{
    background-color: brown;
    width: 100%;
    height: 100%;
}


.profile-section{
    height: 10%;
    width: 100%;
    background-color: blanchedalmond;
}
.profile-img{
    width: 50px;
    height: 50px;
    background-image: url(../img/avatar_1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin:  auto 10px;
}
.profile-info{
    font-size: small;
    color: gray;
}
.profile-text{
    padding: 10px 0;
}










.message-section{
    height: 80%;
    width: 100%;
    background-color: aquamarine;
    padding: 5%;
    overflow:auto;
}


.message-section p{
    margin: 20px 0;
    width: 70% ;
    padding: 10px;
    border-radius: 10px;
}
.received p{
    background-color: beige;
}
.sent p{
    background-color: lightgreen;
}






.write-section{
    height: 10%;
    width: 100%;
    background-color: blanchedalmond;
    display: flex;
}
.write-section input{
    width: 95%;
    height: 80%;
    margin: auto;
    border-radius: 10px;
}

.write-section .fa-solid{
    margin: auto;
    font-size: 30px;
    display: none;
}
