@import url(./partials/reset.css);
@import url(./partials/color.css);






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    background: -webkit-linear-gradient(90deg, lightgray 80%, green 20%);
   
}
/* CLASSI DI LAYOUT */
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
}
.wh-50{
    width: 50%;
}
.wh-70{
    width: 70%;
}
.wh-30{
    width: 30%;
}
.wh-50{
    width: 50%;
}
.bg-green{
    background-color: green;
}
.or-mar10{
    margin: 0 10px;
}




/* STABILISCE LA GRANDEZZA DELLA WEB-APP  */
.container{
    margin: auto;
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    display: flex;
}
/* DOVE SI VEDONO LE CHATS IN ORDINE  */
.chats{
    
    width:40% ;
    height: 100%;
    display: none;
}
/* DOVE SI VEDONO I MESSAGGI  */
.chat-area{
   
    width: 100%; 
    height: 100%;
}


.profile-section{
    height: 10%;
    width: 100%;
    background-color: var(--bar-color);
    display: flex;
    align-items: center;
}
.round-img{
    width: 50px;
    height:50px;
    background-image: url(../img/avatar_1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    margin:  auto 10px;
}
.info{
    font-size: small;
    color: gray;
}
.profile-text{
    padding: 10px 0;
}
.fa-solid{
    margin: 0 10px;
    font-size: 30px;
    color: var(--icons-color);
}
.alerts{
    display: flex;
    background-color: lightblue;
    height: 10%;
    display: flex;
    align-items: center;
    

}
.alerts .name{
    font-size: 14px;
}
.alerts-info{
    text-decoration: underline;
}
.fa-magnifying-glass{
    background-color: white;
}
.search{
    height: 7%;
    width: 100%;
    background-color: var(--bar-color);
    display: flex;
    padding: 5 10px;
    
}
.search-text {
    width: 90%;
    height: 100%;
    margin: auto;
    border: none;
}
.search-cont{
    height: 80%;
    display: flex;
    width: 90%;
    margin: auto;
    background-color: #fff;
}
.fa-magnifying-glass{
    height: 100%;
    margin: auto;
}
.contacts{
    overflow: auto;
    height: 70%;
}
.contact{
    border-bottom: 1px solid var(--icons-color) ;
    padding: 10px;
}







.message-section{
    height: 80%;
    width: 100%;
    background-image: url(../img/mine.jpg);
    background-repeat: repeat;
    padding: 5%;
    overflow:auto;
}


.message-section p{
    margin: 20px 0;
    width: 70% ;
    padding: 10px;
    border-radius: 10px;
}
.received p{
    background-color: var(--ms-received);
}
.sent p{
    background-color: var(--ms-sent);
}






.write-section{
    height: 10%;
    width: 100%;
    background-color: var(--bar-color);
    display: flex;
}
.write-section input{
    flex-grow: 1;
    height: 60%;
    margin: auto;
    border-radius: 10px;
    font-size: 17px;
}



.write-section .fa-solid{
    
    margin: auto;   
}

.emoji{
    height: 100%;
    display: none;
}

.tablet{
    display: none;
}
.desktop{
    display: none;
}
.tablet-chats{
    width: 10%;
    
    display: none;
}
.tab-chat{
    margin: 20px 0px;
}



/* MEDIA QUERY */
@media  screen and (min-width: 480px){
    
    .emoji{
        display: flex;
        width: 10%;
    }
    .tablet{
        display: flex;
    }
    .tablet-chats{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media  screen and (min-width: 768px) {
    
    .container{
        height: 90vh;
        width: 90vw;
    }
    
    .chats{
        display: block;
    }
    .emoji{
        display: flex;
        width: 10%;
    }
    .desktop{
        display: flex;
    }
    .tablet-chats{
        
        display: none;
    }

}

@import url(./partials/responsive.css);

